snippet map "std::map (map)"
std::map<${1:key}, ${2:value}> ${3:map};
endsnippet

snippet vec "std::vector (v)"
std::vector<${1:char}> ${3:vector};
endsnippet

snippet ss "std::string"
std::string $0
endsnippet

snippet sv "std::vector"
std::vector< ${1:std::string} > $2
endsnippet

snippet sd "std::"
std::
endsnippet

snippet sco "std::cout"
std::cout << $0
endsnippet

snippet sel "std::endl"
<< std::endl
endsnippet
